.forgot-password-col1 img{
    position: center;
    justify-content: center;
    height: 200px;
    width: 200px;
}

.forgot-password-container {
    padding: 20px;
}

.forgot-password-col2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: white; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, 
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px !important; */
}

.forgot-password-col2 h1{
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", 
    "Lucida Sans Unicode",  Geneva, Verdana,sans-serif;
    font-weight: 700;
    color: black;
}
.forgot-password-col2 label{
    color: rgb(46, 39, 39);
    margin-top: 30px;
    display: flex;
    align-items: flex-start;
    font-size: 1rem;
}
.forgot-password-col2 input{
    width: 440px;
}

.forgot-password-col2 button{
    width: 300px;
    border: 1px solid white;
    background-color: #3f3d56;
    color: white;
}

.forgot-password-col2 button:hover{
    color: white;
    border: 1px solid transparent !important;
    background-color: #470d21;
}

.forgot-password-col2 .signin {
    width: 100px;
    height: 60px;
    text-decoration: none;
    color: #470d21;
    background-color: white;
}

.forgot-password-col2 .signin:hover{
    width: 100px;
    text-decoration: none;
    /* color: black;
    background-color: white; */
    opacity: 0.7;
}

