/* image container for category */

.Imagecontainer{
    position: relative;
    width: 100%;
    max-width: 400px;

}

.container img{
    width: 100%;
    height: auto;
}

.container .btn{
    position: absolute;
    top: 80%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    text-align: center;

}



/* image container for category  */
.Imagecontainer {
    position: relative;
}

.Imagecontainer img {
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 20px !important;
}
.Imagecontainer img:hover {
    box-shadow: rgba(186, 73, 73, 0.35) 0px 5px 20px !important;
}

.Imagecontainer .btn {
    position: absolute;
    top: 80%;
    left: 21%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50% -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 30px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    text-align: center;
}

.Imagecontainer .btn:hover{
    background-color: black;
}

/* image container for category */

.category-link a{
    text-decoration: none !important;
    color: black;
    line-height: normal;
}

/* ========= */

@media only screen and (min-width: 320px) and (max-width: 480px) {
   .Imagecontainer img{
    margin-top: 3rem !important;
   }
   .Imagecontainer .btn{
    position: absolute;
    top: 80%;
    left: 26%;
   }
}